<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.iu.sb4.board.qna.QnaMapper">
	<sql id="getSearch">
		where 
		<choose>
			<when test="kind == 'title'">
				title
			</when>
			<when test="kind == 'writer'">
				writer
			</when>
			<otherwise>
				contents
			</otherwise>
		</choose>
		like concat('%', #{search}, '%') and num>0 
	</sql>
	
	<select id="getList" parameterType="Pager" resultType="QnaVO">
		select * from qna 
		<include refid="getSearch"></include>
		order by num desc limit #{startRow}, #{perPage}
	</select>
	
	<select id="getCount" parameterType="Pager" resultType="Long">
		select count(num) from qna
	</select> 
	
	<insert id="setInsert" parameterType="QnaVO" useGeneratedKeys="true" keyProperty="num">
	insert into qna (num, title, writer, contents, regDate, hit, ref, step, depth)
	values (#{num}, #{title}, #{writer}, #{contents}, now(), 0, 0, 0, 0)
	</insert>
	
	<select id="getOne" parameterType="QnaVO" resultType="QnaVO">
		select * from qna where num = #{num}
	</select> 

	<delete id="setDelete" parameterType="QnaVO">
		delete from qna where num = #{num}
	</delete>
	
	<update id="setUpdate" parameterType="QnaVO">
		update qna set title = #{title}, contents = #{contents} 
		where num = #{num};
	</update>
</mapper>    